<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello </title>
    <link rel="shortcut icon" href="/Res/itachi-alt.ico" type="image/x-icon"/>
</head>
</html>
<h1>Ajout des dep! ✅</h1>
<form action="{{ path("new_dep") }}" method="POST" >
    nom_departement<input type="text" name="nom_dep"> <br>
    <input type="submit">
</form>
<a href="{{ path("Liste_dep") }}"> go back</a>