<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello </title>
    <link rel="shortcut icon" href="/Res/itachi-alt.ico" type="image/x-icon"/>
</head>
</html>
<h1>add dep! ✅</h1>

<a href="{{ path("Liste_dep") }}"> new dep</a><br>
<a href="{{ path("dep_supp") }}"> pours supp</a>

