body
{
  margin: 5px 50px 0px 100px;
  overflow-y: hidden;
}

body .Title
{
  font-family: "Riffic Free Medium";
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
  padding-top: 2%;
  overflow: auto;
  display: flex;
}
body .Title h1
{
    flex-grow: 1;
}
.link
{
  flex-grow: 1;
  font-family: "Glacial Indifference";
  font-weight: bolder;

}

.left
{
  float: left;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color ease-in-out 0.2s;
}
.left:hover
{
  background-color: rgba(56,56,56,0.05);
}
.link .left a
{
  text-decoration: none;
  color: #2a2a2a ;
  font-size: 20px;
}


.Illust
{
  text-align: center;
  width: 565px;
  margin-left: 20%;
}
svg
{
  position: relative;
  top: 50%;
}


body .Buttons_Container
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.Buttons_Container .button
{

  text-decoration: none;
  color: white;
  font-family: 'Glacial Indifference';
  font-weight: bolder;
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
  padding: 0.7em 2em;
  border-radius: 15px;
  transition: box-shadow 0.2s;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
.ajouter
{
  //padding-left: 25px;
  margin-right: 70px;
}
.afficher{
  margin-right: 70px;
}
.button:hover
{
  box-shadow: 0 7px 15px 0 rgba(0,0,0,0.2);
}
.supEdit
{
  margin-right: 70px;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  /* Preserve aspet ratio */
  min-width: 90%;
  min-height: 100%;
  z-index: -1;
}


