<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/Res/itachi-alt.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>{% block title %}Professeurs | Que voulez vous faire ?{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/Styles/forms.css"/>
    {% endblock %}
</head>
<body>
<div class="split left">
    <div class="link">
        <div class="leftee">
            <a href="/Cours/supp"> <i class="fa fa-arrow-left" style="font-size:20px; color: #fafafa ; padding-right: 5px"></i>Retourner</a>
        </div>
    </div>
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_Fn8jlg.json"  background="transparent"  speed="1"  style="width: 93%; height: 93%; text-align: center"  loop  autoplay>

    </lottie-player>
</div>
<div class="split right">
    <h1 class="title">Editer le proffesseur ! </h1>
    <div class="form_container">
        <form action="{{ path("affectation_handler",{id:prof.id}) }}"  method="post" style="margin-top: 20%">

            <select name="intitule">
                {% for c in courses %}
                    <option value="{{ c.id }}">{{ c.Intitule }}</option>
                {% endfor %}
            </select>

            <input class="button" type="submit" value="Affecter Cours">
        </form>
    </div>

</div>
</body>
</html>
checkche