<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello </title>
    <link rel="shortcut icon" href="/Res/itachi-alt.ico" type="image/x-icon"/>
</head>
</html>
<h1>Editer des cours! ✅</h1>
<form action="{{ path("new_Cours") }}" method="POST" >
    Intitule<input type="text" name="intitule"> <br>
    <input type="submit">
</form>
<a href="{{ path("acceuil") }}"> go back</a>