<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello </title>
    <link rel="shortcut icon" href="/Res/itachi-alt.ico" type="image/x-icon"/>
</head>
</html>
<h1>Editer des cours! ✅</h1>
<form action="{{ path("cours_HandleEdit",{id:c.id}) }}" method="POST" >
    Intitule<input type="text"  name="intitule"  value="{{ c.intitule }}" required>
     <br>
    <input type="submit" value="Editer_cours">
</form>
<a href="{{ path("acceuil") }}"> go back</a>